#footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(rgba(75, 75, 75, 0), rgba(15, 15, 15, 0.2));
  bottom: 0;
  padding-bottom: 2rem;
  height: 40px;
  width: 100%;
  z-index: 1;

  .social {
    margin-right: 1rem;
  }

  .fab {
    justify-content: right;
    padding: 0.5rem;
    background-color: none;
    color: #fff;
  }
}

@media (max-width: 767px) {
  #footer {
    display: none;
  }
}

@media (max-height: 420px) {
  #footer {
    display: none;
  }
}
