.list {
  display: flex;
  padding: 1rem;

  .page-number {
    align-items: center;
    justify-content: center;

    a {
      border: solid 1px transparent;
      border-radius: 5px;
      justify-content: center;
      padding: 0.5rem;
      margin: 0.1rem;
      color: #fff;
      font-size: 25px;
    }

    a.highlight {
      background: #fff;
      color: rgb(138, 172, 168);
    }

    a:hover {
      background: #fff;
      color: rgb(138, 172, 168);
      transition: all 0.3s ease-in-out;
    }
  }
}
