.container {
  position: relative;
  width: 100%;
  height: 100vh;

  .yogi-pic {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .small-yogi-pic {
    display: none;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    height: auto;
    width: 60%;

    p {
      color: #fff;
      text-align: center;
      font-size: 25px;
      text-shadow: 2px 2px 5px #333;
      font-weight: 600;
      line-height: 2rem;
    }
  }
}

// @media (min-width: 768px) and (max-width: 1024px) {
//   p {
//     width: 100%;
//     height: 100vh;
//   }
// }

@media (max-width: 767px) {
  .container {
    position: fixed;
    background: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.4)),
      url('../img/standing.JPG') center center/cover fixed;

    .yogi-pic {
      display: none;
    }

    .text {
      text-align: justify;
      text-justify: inter-word;
      padding: 1rem;
      margin-top: 1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100%;
      background-color: transparent;
      overflow: auto;

      h2 {
        font-size: 2rem;
      }
      p {
        color: #fff;
        font-weight: 600;
        line-height: 1.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
