.container {
  position: relative;
  // margin-top: -80px;
  width: 100%;
  height: 100vh;

  .yogi-pic {
    position: absolute;

    width: 100%;
    height: 100vh;
  }

  .small-yogi-pic {
    display: none;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    height: auto;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);

    h2,
    p {
      color: #fff;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .container {
    position: fixed;
    background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
      url('../img/yogiAbout.jpg') center center/cover fixed;

    .yogi-pic {
      display: none;
    }

    .text {
      text-align: justify;
      text-justify: inter-word;
      padding: 1rem;
      margin-top: 1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100%;
      background-color: transparent;
      overflow: auto;

      h2 {
        font-size: 2rem;
      }
      p {
        color: #fff;
        font-weight: 600;
        line-height: 1.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
