#footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(rgba(75, 75, 75, 0), rgba(75, 75, 75, 0.9));
  opacity: 0.9;
  bottom: 0;
  height: 40px;
  width: 100%;
  z-index: 1;

  .social {
    margin-right: 1rem;
  }

  .fab {
    justify-content: right;
    padding: 0.5rem;
    color: #fff;
  }
}

@media (max-width: 767px) {
  #footer {
    display: none;
  }
}
