#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0));
  opacity: 0.9;
  height: 80px;
  width: 100%;
  z-index: 1;

  .title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 70px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;

    .fa-home {
      color: #fff;
    }
  }

  .nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    li {
      padding: 1rem;
      .text {
        font-weight: 800;
        color: #fff;
      }
    }
  }
}

@function set-text-color() {
  @if (lightness(background-color) < 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}

@media (max-width: 767px) {
  #navbar {
    display: none;
  }
}
