.list {
  display: flex;
  padding: 1rem;

  .page-number {
    align-items: center;
    justify-content: center;

    a {
      // border: solid 1px #fff;
      justify-content: center;
      padding: 0.5rem;
      color: #fff;
      font-size: 25px;

      // .highlight {
      //   background: #333;
      //   color: #fff;
      // }
    }

    a.highlight {
      background: #fff;
      color: rgb(138, 172, 168);
    }

    a:hover {
      background: #fff;
      color: rgb(138, 172, 168);
      transition: all 0.3s ease-in-out;
    }
  }
}
