.big-container {
  .hamburger {
    position: fixed;
    padding: 10px;
    transition: transform 1s ease;
    z-index: 5;

    .fake-button {
      background: transparent;
      border: none;
    }

    .bar-1,
    .bar-2,
    .bar-3 {
      width: 50px;
      border-bottom: solid 5px #333;
      border-radius: 15px;
      margin-top: 0.5rem;
      // transition: transform 1s ease;
    }
  }
}

#sidebar {
  position: fixed;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  padding: 1rem;
  border: solid 2px #333;
  background: #fff;
  opacity: 0.9;
  z-index: 1;
  transition: transform 1s ease;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    bottom: 0;
    transition: transform 1s ease;

    .fake-button {
      background: transparent;
      border: none;
    }

    .bar-4 {
      width: 50px;
      border-bottom: solid 5px #333;
      border-radius: 15px;
      margin-top: 0.5rem;
      transform: rotateY(44deg) rotate(44deg) translate(20%, 20%);
    }
    .bar-5 {
      display: none;
    }
    .bar-6 {
      width: 50px;
      border-bottom: solid 5px #333;
      border-radius: 15px;
      margin-top: 0.5rem;
      transform: rotateY(-44deg) rotate(-44deg) translate(17%, 17%);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    .side-list ul li,
    .social ul li {
      display: flex;
      flex-direction: column;
      margin: 20px 0 20px 0;
      align-items: center;
      justify-content: space-evenly;
      text-transform: uppercase;
    }
  }
}

.hidden {
  transform: translateX(100%);
}
@media (min-width: 1025px) {
  #sidebar {
    display: none;
  }
}
