.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 50%;
  border: solid 2px #333;

  .hamnburger {
    display: inline;
  }

  .bar-1 {
    width: 50px;
    border-bottom: solid 6px #333;
    margin-top: 0.5rem;
  }
  .bar-2,
  .bar-3 {
    width: 50px;
    border-bottom: solid 5px #333;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1025px) {
  #sidebar {
    display: none;
  }
}
