#video {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem;
  padding-top: 80px;

  .video-inner {
    width: 320px;
    height: 300px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

#modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  top: 90px;
  width: auto;
  height: auto;
  padding: 1rem;
  z-index: 1000;
  background: #fff;
  color: #333;
  animation-name: modalFadeIn;
  animation-duration: 1s;
  transition: all ease-in-out 1s;

  .modal-title {
    text-align: center;
    padding: 0.5rem;
  }

  .modal-description {
    padding: 1rem;
    font-weight: 800;
    font-size: large;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 360px) {
  #video {
    padding: 0;
    width: 100%;

    .modal-description {
      text-align: center;
      overflow-wrap: break-word;
      padding: 0;
    }
  }

  .modal-video,
  .modal-title {
    display: none;
  }

  #modal {
    top: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  #video {
    padding: 0;
    width: 100%;

    .modal-description {
      text-align: center;
      overflow-wrap: break-word;
      padding: 0;
      overflow-y: initial;
    }
  }

  .modal-video,
  .modal-title {
    display: none;
  }

  #modal {
    display: block;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #modal {
    width: 90%;
    height: auto;

    .discription {
      overflow-wrap: anywhere;
    }

    .modal-video {
      display: inline;
    }
  }
}
