#video {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem;
  padding-top: 80px;

  .video-inner {
    width: 320px;
    height: 300px;
    padding: 1rem;
    margin-bottom: 1rem;

    h3 {
      text-align: center;
    }

    .open-overlay {
      width: 100%;
      height: 30px;
      border-radius: 5px;
    }
  }
}

#modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  top: 90px;
  width: auto;
  height: auto;
  padding: 1rem;
  z-index: 10;
  background: #fff;
  color: #333;
  animation-name: modalFadeIn;
  animation-duration: 1s;
  transition: all ease-in-out 1s;

  .modal-title {
    text-align: center;
    padding: 0.5rem;
  }

  .modal-description {
    padding: 1rem;
    font-weight: 800;
    font-size: large;
  }

  .close-overlay {
    width: 100%;
    border-radius: 5px;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 360px) {
  #video {
    padding: 0;
    width: 100%;

    #modal {
      top: 5%;
      position: fixed;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: auto;
      overflow: auto;

      .modal-video,
      .modal-title {
        display: none;
      }

      .modal-description {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-justify: inter-word;
        padding: 0;
        overflow: auto;
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (min-width: 361px) and (max-width: 767px) {
  #modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;

    .modal-video {
      display: none;
    }

    .modal-description {
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: justify;
      text-justify: inter-word;
      padding: 1rem;
      overflow: auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #modal {
    width: 90%;
    height: auto;

    .modal-video {
      display: inline;
    }
  }
}
