// font-family: 'Amatic SC', cursive;
// font-family: 'Raleway', sans-serif;

* {
  font-family: 'Raleway', sans-serif;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #333;
  background-color: #fff;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;

  .title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 70px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
  }

  .nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    li {
      padding: 1rem;
      .text {
        font-weight: 800;
      }
    }
  }
}

.container {
  display: flex;
  align-items: cover;
  margin-top: 80px;
  height: 100vh;
  width: 100%;

  .picture {
    width: 50%;
    height: 100%;

    .yogi-pic {
      width: 100%;
      height: 90%;
      padding-bottom: 2rem;
    }
  }

  .story {
    padding: 2rem;
    margin-left: 1rem;
    border-left: solid 1px #333;
    width: 50%;
    height: 100%;
  }
}
#video {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // background: url(img/water.jpg) no-repeat center center/cover fixed;
  padding: 3rem;
  padding-top: 80px;

  .video-inner {
    width: 320px;
    height: 300px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

#modal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  top: 90px;
  width: auto;
  height: auto;
  padding: 1rem;
  z-index: 1000;
  background: #fff;
  color: #333;
  animation-name: modalFadeIn;
  animation-duration: 1s;
  transition: all ease-in-out 1s;

  .modal-title {
    text-align: center;
    padding: 0.5rem;
  }

  .modal-description {
    padding: 1rem;
    font-weight: 800;
    font-size: large;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

#footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: #fff;
  opacity: 0.6;
  bottom: 0;
  height: 40px;
  width: 100%;
  z-index: 1;

  .fab {
    justify-content: right;
    padding: 0.5rem;
    // color: #fff;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// @keyframes modalFadeOut {
//   from {
//     opacity: 1;
//   }
//   to {
//     opacity: 0;
//   }
// }

#schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  width: 100%;
  background: url(img/brick.jpg) no-repeat center center/cover fixed;

  .heading h1 {
    margin-bottom: 1rem;
  }
  .body,
  .table {
    justify-content: center;
    align-items: center;
  }

  tr {
    align-items: center;
  }

  th {
    padding: 0.3rem;
  }
}

// Contact

#contact-form {
  margin-bottom: 80px;
}

.text-fields {
  display: flex;
  flex-direction: column;
  width: 50vw;

  .text-input {
    padding: 0.5rem;
    margin-bottom: 5px;
  }

  .message-input {
    height: 200px;
  }
}

.message-button {
  width: 50vw;
  padding: 0.5rem;
  margin-top: 5px;
  border-radius: 15px;
}
