// font-family: 'Amatic SC', cursive;
// font-family: 'Raleway', sans-serif;

// font-family: 'Cardo', serif;
// font-family: 'Chelsea Market', cursive;
// font-family: 'Cormorant', serif;
// font-family: 'Darker Grotesque', sans-serif;
// font-family: 'EB Garamond', serif;
// font-family: 'Gloria Hallelujah', cursive; --NO
// font-family: 'Gruppo', cursive;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Just Me Again Down Here', cursive; --NO
// font-family: 'Kaushan Script', cursive;
// font-family: 'Niramit', sans-serif;
// font-family: 'Old Standard TT', serif;
// font-family: 'Quattrocento', serif;
// font-family: 'Rock Salt', cursive;
// font-family: 'Sawarabi Mincho', sans-serif;
// font-family: 'Taviraj', serif;

* {
  font-family: 'Raleway', sans-serif;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
